---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Inicio de sesion">
  <div
    class="w-screen h-screen flex flex-col items-center justify-center p-10 bg-black"
  >
    <form class="flex flex-col items-center justify-center">
      <div id="response" class="text-red-500 font-bold text-lg py-2"></div>
      <h1 class="text-white text-3xl mb-4">Iniciar sesión</h1>
      <div class="flex flex-col mb-4">
        <label for="email" class="text-white mb-1">Correo Electrónico</label>
        <input
          type="text"
          id="email"
          name="email"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <div class="flex flex-col mb-4">
        <label for="password" class="text-white mb-1">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <button
        type="button"
        id="loginButton"
        class="bg-[#526C63] hover:bg-white hover:text-black text-white transition-colors duration-300 ease-in-out delay-75 font-bold py-2 px-4 rounded"
        >Iniciar sesión</button
      >
    </form>
    <a class="text-white" href="/auth/register">
      No tienes una cuenta? Registrate.</a
    >
  </div>
  <script>
    // document
    //   .getElementById("loginButton")
    //   .addEventListener("click", function () {
    //     const email = (document.getElementById("email") as HTMLInputElement)
    //       .value;
    //     const password = (
    //       document.getElementById("password") as HTMLInputElement
    //     ).value;
    //     document
    //       .getElementById("loginButton")
    //       .addEventListener("click", function () {
    //         const email = (document.getElementById("email") as HTMLInputElement)
    //           .value;
    //         const password = (
    //           document.getElementById("password") as HTMLInputElement
    //         ).value;

    //         fetch("http://localhost:8080/auth/login", {
    //           method: "POST",
    //           headers: {
    //             "Content-Type": "application/json",
    //             Origin: "localhost:4321",
    //           },
    //           body: JSON.stringify({ email, password }),
    //         })
    //           .then((response) => response.json())
    //           .then((data) => {
    //             console.log("Success:", data);

    //             if (data.status === 200) {
    //               setCookie("Auth", data.token, 30);
    //               window.location.href = "/";
    //               Astro.redirect("/");
    //             }
    //           })
    //           .catch((error) => {
    //             console.error("Error:", error);
    //           });
    //       });

    //     function setCookie(name, value, days) {
    //       const expirationDate = new Date();
    //       expirationDate.setDate(expirationDate.getDate() + days);
    //       const cookieValue =
    //         encodeURIComponent(value) +
    //         (days ? `; expires=${expirationDate.toUTCString()}` : "");
    //       document.cookie = `${name}=${cookieValue}; path=/`;
    //     }

    //     function getCookie(name) {
    //       const cookieString = document.cookie;
    //       const cookies = cookieString.split("; ");
    //       for (const cookie of cookies) {
    //         const [cookieName, cookieValue] = cookie.split("=");
    //         if (cookieName === name) {
    //           return decodeURIComponent(cookieValue);
    //         }
    //       }
    //       return null;
    //     }

    //     const authToken = getCookie("Auth");
    //     if (authToken) {
    //       Astro.redirect("/");
    //       console.log("La cookie 'Auth' está presente.");
    //     } else {
    //       Astro.redirect("/");
    //       console.log("La cookie 'Auth' no está presente.");
    //     }

    //     // fetch("http://localhost:8080/auth/login", {
    //     //   method: "POST",
    //     //   headers: {
    //     //     "Content-Type": "application/json",
    //     //     Origin: "localhost:4321",
    //     //   },
    //     //   body: JSON.stringify({ email, password }),
    //     // })
    //     //   .then((response) => {
    //     //     // Aquí se imprime el estado de la respuesta HTTP
    //     //     console.log("Estado de la respuesta HTTP:", response.status);

    //     //     // Comprueba si la respuesta fue exitosa antes de intentar convertirla a JSON
    //     //     if (response.status === 200) {
    //     //       return response.json();
    //     //     } else {
    //     //       throw new Error("Error en la respuesta del servidor");
    //     //     }
    //     //   })
    //     //   .then((data) => {
    //     //     console.log("Success:", data);
    //     //     document.cookie = `Auth=${data.token}; path=/;`;
    //     //     console.log(document.cookie);
    //     //     window.location.href = "/";
    //     //   })
    //     //   .catch((error) => {
    //     //     console.error("Error:", error);
    //     //   });
    //   });

    document.addEventListener("DOMContentLoaded", function () {
      const authToken = getCookie("Auth");
      if (authToken) {
        window.location.href = "/";
        console.log("La cookie 'Auth' está presente.");
      } else {
        console.log("La cookie 'Auth' no está presente.");
      }
    });

    const responsediv = document.getElementById("response");
    const loginbutton = document.getElementById("loginButton");

    async function Login() {
      console.log("entramos");
      const email = (document.getElementById("email") as HTMLInputElement)
        .value;
      const password = (document.getElementById("password") as HTMLInputElement)
        .value;

      if (email === "" || password === "") {
        responsediv.innerHTML = "Por favor, rellene todos los campos.";
        return;
      } else {
        responsediv.innerHTML = "";
      }

      if (password.length < 8) {
        responsediv.innerHTML =
          "La contraseña debe tener al menos 8 caracteres.";
        return;
      }
      const response = await fetch("https://srmacaback.fly.dev/auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Origin: "https://srmacaback.fly.dev",
        },
        body: JSON.stringify({ email, password }),
      });
      const data = await response.json();
      console.log(data);
      if (data.token) {
        responsediv.innerHTML = "";
        setCookie("Auth", data.token, 30);
        window.location.href = "/";
      } else {
        responsediv.innerHTML = data.error;
      }
    }
    loginbutton.onclick = Login;
    loginbutton.addEventListener("click", Login);

    function setCookie(name, value, days) {
      const expirationDate = new Date();
      expirationDate.setDate(expirationDate.getDate() + days);
      const cookieValue =
        encodeURIComponent(value) +
        (days ? `; expires=${expirationDate.toUTCString()}` : "");
      document.cookie = `${name}=${cookieValue}; path=/`;
    }

    function getCookie(name) {
      const cookieString = document.cookie;
      const cookies = cookieString.split("; ");
      for (const cookie of cookies) {
        const [cookieName, cookieValue] = cookie.split("=");
        if (cookieName === name) {
          return decodeURIComponent(cookieValue);
        }
      }
      return null;
    }
  </script>
</Layout>
