---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mi Perfil 💪🏻">
  <div
    class="bg-gradient-to-br from-[#554732] to-black h-screen w-screen flex flex-col items-center justify-center text-white"
  >
    <h3 class="mt-60">Bienvenido a tu perfil en SrMaca!. 💪🏻</h3>
    <div class="flex overflow-hidden">
      <section id="info-container"></section>
      <section id="voucher-container" class="h-2/3 overflow-y-auto"></section>
    </div>
  </div>
</Layout>

<script>
  import formatDate from "../../utils/FormatDate.js";
  const infoContainer = document.getElementById("info-container");
  const voucherContainer = document.getElementById("voucher-container");
  async function GetUser() {
    const response = await fetch("http://localhost:8080/user/", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "include",
    });
    const data = await response.json();
    return data;
  }
  const data = await GetUser();

  async function GetUserVouchers() {
    const response = await fetch("http://localhost:8080/voucher/user/", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "include",
    });
    const data = await response.json();
    return data;
  }

  const dataVouchers = await GetUserVouchers();
  console.log(dataVouchers);
  function fillProfile(data) {
    infoContainer.innerHTML = `
    <ul class="text-white [&>li>h3]:underline">
      <li>
        <h3>Nombre</h3>
        <p>${data.user.username}</p>
      </li>
      <li>
        <h3>Correo</h3>
        <p>${data.user.email}</p>
      </li>
      <li>
        <h3>Creaste tu cuenta el:</h3>
        <p>${formatDate(data.user.CreatedAt)}</p>
      </li>
    </ul>
      `;
  }

  function fillVouchers(data) {
    data.map((item) => {
      voucherContainer.innerHTML += `
      <div class="flex flex-col text-left justify-center bg-white rounded-md text-black shadow-md p-4 m-4">
        <h3 class="text-xl font-bold">Voucher</h3>
        <p class="text-lg font-bold">${item.Users.email}</p>
        <p class="text-lg font-bold">${item.glosa}</p>
        <img class="h-36 w-auto" src="http://localhost:8080/voucher/images/${
          item.ID
        }" alt="Voucher Image - ${item.ID}" class="voucher-image">
        <p class="text-lg font-bold">${formatDate(item.CreatedAt)}</p>
        <p> <span class="font-bold">Estado:</span> ${
          item.status ? "Confirmado" : "No confirmado"
        }</p> 
      </div>
      `;
    });
  }

  fillProfile(data);
  fillVouchers(dataVouchers);
</script>
