---
import Button from "./Button.astro";

interface Props {
  title: string;
  buttonbg1: string;
  buttontc1: string;
  buttongo1: string;
  buttonbg2: string;
  buttontc2: string;
  buttongo2: string;
  buttontitle1: string;
  buttontitle2: string;
  fontsize: string;
}

const {
  title,
  buttontitle1,
  buttontitle2,
  buttonbg1,
  buttontc1,
  buttonbg2,
  buttontc2,
  buttongo1,
  buttongo2,
  fontsize,
} = Astro.props;
---

<section class="z-20 py-10 m-5 md:mb-0 md:py-5 md:w-4/6 xl:w-1/3 text-center">
  <p
    class="text-white text-xl backdrop-blur-2xl p-4 rounded-2xl border border-white"
  >
    {title}
  </p>
  <nav
    class="flex gap-10 items-center justify-center font-bold m-10 sm:m-0  xl:my-10 md:mt-8"
  >
    <Button
      fontsize={fontsize}
      title={buttontitle1}
      bgcolor={buttonbg1}
      textcolor={buttontc1}
      navigate={buttongo1}
    />
    <Button
      fontsize={fontsize}
      title={buttontitle2}
      bgcolor={buttonbg2}
      textcolor={buttontc2}
      navigate={buttongo2}
    />
  </nav>
</section>
