---
interface Props {
  principal: string;
  pils1: string;
  pils2: string;
  transitionname: string;
  transitionpils1: string;
  transitionpils2: string;
}
const {
  principal,
  pils1,
  pils2,
  transitionname,
  transitionpils1,
  transitionpils2,
} = Astro.props;
---

<section class="">
  <img
    src={principal}
    class="relative z-20 scale-90"
    alt="tarro"
    transition:animate="fade"
    transition:name={transitionname}
  />
  <img
    src={pils1}
    transition:animate="fade"
    transition:name={transitionpils1}
    class="absolute z-10 translate-x-[24px] -translate-y-[500px] md:translate-x-[200px] rotate-12 md:-translate-y-[250px] blur-md"
  />
  <img
    src={pils1}
    transition:animate="fade"
    transition:name={transitionpils2}
    class="absolute z-10 -translate-x-[40px] -translate-y-[500px] md:translate-x-[790px] rotate-90 md:-translate-y-[750px] blur-md"
  />
  <img
    src={pils2}
    class="absolute z-10 md:translate-x-[259px] xl:translate-x-[320px] -translate-y-[200px] rotate-90 md:-translate-y-full"
  />
  <img
    src={pils2}
    class="absolute z-10 md:translate-x-[259px] xl:translate-x-[700px] translate-y-[500px] rotate-90 md:-translate-y-[250px] w-24 h-auto"
  />
  <img
    src={pils2}
    class="absolute z-10 md:translate-x-[259px] xl:translate-x-[770px] -translate-y-[200px] rotate-45 md:-translate-y-full"
  />
  <img
    src={pils2}
    class="absolute z-10 -translate-x-[140px] -translate-y-[150px] md:-translate-x-[200px] xl:-translate-y-[500px] blur-sm"
  />
</section>
