---
interface Props {
  href: string;
  title: string;
  description: string;
  howworks: string;
  howuse: string;
}

const { href, title, description, howworks, howuse } = Astro.props;
---

<section
  class="absolute md:relative p-10 text-white z-30 w-full bg-white/10 backdrop-blur-md md:rounded-l-3xl border-t-[0.5px] border-l-[0.5px] border-white drop-shadow-lg"
>
  <a href={`/#${href}`} class="hidden xl:flex"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-arrow-left"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l14 0"></path>
      <path d="M5 12l6 6"></path>
      <path d="M5 12l6 -6"></path>
    </svg>Atras</a
  >
  <main class="flex flex-col text-right">
    <h2 class="text-4xl">{title}</h2>
    <h3 class="text-relaxed italic font-serif">{description}</h3>
    <div
      class="flex text-left flex-col [&>h3]:py-2 [&>h3]:font-black [&>h3]:italic [&>h3]:text-white [&>p]:leading-loose"
    >
      <h3>Que es?</h3>
      <p>
        {howworks}
      </p>
      <h3>Como se usa?</h3>
      <p>
        {howuse}
      </p>
    </div>
  </main>
  <a href={`/#${href}`} class="flex xl:hidden py-2 -ml-4 mt-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-arrow-left"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l14 0"></path>
      <path d="M5 12l6 6"></path>
      <path d="M5 12l6 -6"></path>
    </svg> Atras!</a
  >
</section>
