---
interface Props {
  principal: string;
  pils1: string;
  pils2: string;
  transitionname: string;
  transitionpils1: string;
  transitionpils2: string;
}
const {
  principal,
  pils1,
  pils2,
  transitionname,
  transitionpils1,
  transitionpils2,
} = Astro.props;
---

<section class="absolute max-h-screen">
  <img
    src={principal}
    class="relative z-20 pl-9"
    alt="tarro"
    transition:animate="fade"
    transition:name={transitionname}
  />
  <img
    src={pils1}
    transition:animate="fade"
    transition:name={transitionpils1}
    class="absolute z-10 translate-x-[80px] -translate-y-[240px] md:translate-x-72 md:-translate-y-[550px] blur-sm"
  />
  <img
    src={pils2}
    class="absolute z-10 -translate-y-[500px] md:-translate-x-3 md:-translate-y-[550px] blur-sm"
  />
  <img
    src={pils2}
    transition:animate="fade"
    transition:name={transitionpils2}
    class="absolute z-10 -translate-y-[400px] -translate-x-11 rotate-90 md:-translate-y-[550px]"
  />
  <img
    src={pils1}
    class="absolute z-10 translate-x-24 -translate-y-[500px] md:translate-x-50 rotate-90 md:-translate-y-[250px] blur-md"
  />
  <img
    src={pils2}
    class="absolute z-10 hidden md:block md:translate-x-72 rotate-45 md:-translate-y-full"
  />
  <img
    src={pils1}
    class="absolute z-10 hidden md:block md:-translate-x-56 rotate-45 md:-translate-y-full blur-md"
  />

  <img
    src={pils2}
    class="absolute z-10 md:translate-x-80 rotate-45 md:-translate-y-[380px] blur-sm"
  />
</section>
