---
import SideAdmin from "../../layouts/SideAdmin.astro";
---

<SideAdmin>
  <h1>Welcome!</h1>
  <p>Here you can manage your site.</p>
  <h2 class="text-xl font-bold mb-4">Vouchers</h2>
  <div id="datos-container" class="flex flex-col"></div>
</SideAdmin>
<script>
  const datosContainer = document.getElementById("datos-container");

  function getCookie(name) {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(name + "=")) {
        return cookie.substring(name.length + 1);
      }
    }
    return null;
  }
  const AuthCookie = getCookie("Auth");


  if (AuthCookie == null) {
    window.location.href = "/auth/login";
  }

  

  async function getVouchers() {
    const response = await fetch("http://localhost:8080/voucher/", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "include",
    });
    const data = await response.json();
    return data;
  }
  function formatDate(dateString: string): string {
    const options: Intl.DateTimeFormatOptions = {
      year: "numeric",
      month: "long",
      day: "numeric",
    };
    const formattedDate = new Date(dateString).toLocaleDateString(
      "es-ES",
      options
    );
    return formattedDate;
  }

  function renderData(data) {
    if (data && data.length > 0) {
      datosContainer.innerHTML = "";

      data.forEach((item) => {
        const itemContainer = document.createElement("div");
        itemContainer.classList.add("voucher-item");

        const content = `
        <section class="bg- text-black border border-black m-2 p-2 ">


          <h3 class="font-bold text-2xl">${item.Users.username}</h3>
          <h4> ${item.Users.email}</h4>
          <p>Fecha: ${formatDate(item.CreatedAt)}</p>
          <p>Estado: ${item.status}</p>
          <p>Valor: ${item.amounth}</p> 
          <p>Cantidad: ${item.quantity}</p>
          <p>Glosa: ${item.glosa}</p>
          <img src="http://localhost:8080/voucher/images/${
            item.ID
          }" alt="Voucher Image - ${item.ID}" class="voucher-image">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Rechazar
          </button>

          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Aprobar
          </button>


        </section>

      `;
        console.log(item);
        itemContainer.innerHTML += content;
        datosContainer.appendChild(itemContainer);
      });
    } else {
      datosContainer.innerHTML = "<p>No se encontraron vouchers.</p>";
    }
  }

  async function fetchDataAndRender() {
    try {
      const datos = await getVouchers();
      renderData(datos);
      console.log(datos);
    } catch (error) {
      console.error("Error al obtener los datos:", error);
      // Maneja el error según tus necesidades
    }
  }

  // Llama a fetchDataAndRender para iniciar el proceso
  fetchDataAndRender();
</script>
